---
apiVersion: "kind.x-k8s.io/v1alpha4"
kind: Cluster
name: local
nodes:
- role: control-plane
- role: worker
- role: worker
networking:
  apiServerPort: 6443
containerdConfigPatches:
- |-
  {%- for registry in registries %}
  [plugins."io.containerd.grpc.v1.cri".registry.mirrors."{{ registry }}"]
    endpoint = ["http://mirror-{{ registry }}:5000"]
  [plugins."io.containerd.grpc.v1.cri".registry.configs."{{ registry }}".tls]
    insecure_skip_verify = true
  {%- endfor %}
