version: "3.9"
services:
{%- for registry in registries %}
  mirror-{{ registry }}:
    image: registry:2
    restart: always
    networks:
    - kind
    environment:
    - REGISTRY_PROXY_REMOTEURL=https://{{ backend_override[registry] | default(registry) }}
{% endfor %}
networks:
  kind:
    external:
      name: kind
